<div class="modal-header">
    <h5 class="modal-title text-center block bg-primary" style="padding:10px;">Cash Management</h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4 col-xs-12 pull-right" style="padding-bottom:5px;">
            <div isteven-multi-select
                 control-name="View"
                 input-model="views"
                 output-model="filteredView"
                 button-label="name"
                 item-label="name"
                 tick-property="ticked"
                 selection-mode="single">
            </div>
        </div>
    </div>
    <div class="row">
        <div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-pagination class="grid"></div>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="submit()">Submit</button>
    </div>
</div>
