<div class='btn-group btn-block' data-ng-class='{open: open}'>

    <button class='btn btn-small btn-block dropdown-toggle' data-ng-click='open=!open;openDropdown()'>
        Select &nbsp; <span class='caret'></span>
    </button>
    <ul class='dropdown-menu' aria-labelledby='dropdownMenu' style="max-height:350px; overflow-y:scroll; width:100%; position:relative!important;">
        <li data-ng-repeat='option in options'>
            <a data-ng-click='setSelectedItem()'>
                {{option.RoleName}}
                <span data-ng-class='isChecked(option)'></span>
            </a>
        </li>

    </ul>

</div>
