<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <!--<uib-tabset active="activePill" vertical="true" type="pills">
                <uib-tab index="0" heading="Vertical 1">Vertical content 1</uib-tab>
                <uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
            </uib-tabset>-->
            <div style="padding:5px;">
                <h5 class="m0 text-thin">Inventory</h5>
                <div class="col-sm-4 col-xs-12 pull-right" style="padding-bottom:5px;">
                    <div isteven-multi-select
                         control-name="Outlet"
                         input-model="inventoryOutlets"
                         output-model="filteredInventoryOutlets"
                         button-label="name"
                         item-label="name"
                         tick-property="ticked"
                         group-property="msGroup">
                    </div>

                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{active: inventorySelectedTab == 'forecast'}" ng-click="setTab('forecast')"><a data-toggle="tab" href="#forecast">Forecast</a></li>
                    <li ng-class="{active: inventorySelectedTab == 'inventory'}" ng-click="setTab('inventory')"><a data-toggle="tab" href="#inventory">Inventory</a></li>
                    <li ng-class="{active: inventorySelectedTab == 'setting'}" ng-click="setTab('setting')"><a data-toggle="tab" href="#setting">Setting</a></li>
                    <li ng-class="{active: inventorySelectedTab == 'orderStatus'}" ng-click="setTab('orderStatus')"><a data-toggle="tab" href="#orderstatus">Order Status</a></li>
                    <li ng-class="{active: inventorySelectedTab == 'reviseInventory'}" ng-click="setTab('reviseInventory')"><a data-toggle="tab" href="#reviseinventory">Revise Inventory</a></li>
                </ul>
                <div class="tab-content clearfix">
                    <div id="forecast" ng-if="inventorySelectedTab == 'forecast'">
                        <!--<div id="forecast" class="tab-pane fade in active">-->
                        <!--<h5 class="m0 text-thin" style="padding-bottom:10px;">Forecast</h5>-->

                        <div class="col-sm-8 col-xs-12">
                            <bootstrap-table class="table table-responsive" data="dataI" headings="headingsI" style="width:100%;height:100%">
                            </bootstrap-table>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                          <div inventory-chart options="barChartOptionsI" theme="mint" style="width: 100%; min-height: 285px"></div>
                            <!--  <div inventory-graph style="width: 100%; min-height: 285px"></div>-->
                        </div>
                    </div>
                    <div id="inventory" ng-if="inventorySelectedTab == 'inventory'">
                        <!--<div id="inventory" class="tab-pane fade">-->
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 pull-right" style="padding-bottom:5px;">
                                <select class="form-control" name="selectedInventory" ng-model="selected.inventory">
                                    <option value="product" selected>Product</option>
                                    <option value="inventory">Inventory</option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="selected.inventory == 'product'">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4" ng-repeat="inven in criticalProducts">
                                    <div class="card">
                                        <div class="card-body pv">
                                            <div class="clearfix">
                                                <div class="row">
                                                    <div class="pull-left"><h5 class="m0 text-thin">{{inven.Name}}</h5></div>
                                                    <a class="btn btn-success pull-right" ng-click="orderProductInventory(inven)">Order</a>
                                                    <a class="btn btn-primary pull-right" ng-click="inven.detail=!inven.detail">Show detail</a>
                                                </div>
                                                <div class="row" style="padding-top:10px;" ng-show="inven.detail">
                                                    <div class="col-xs-4">
                                                        <small class="m0 text-muted">
                                                            <em class="mr-sm ion-arrow-right-b"></em>EACH Cost: {{inven.Cost}}
                                                        </small>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <small class="m0 text-muted">
                                                            <em class="mr-sm ion-arrow-right-b"></em>LEAD TIME: {{inven.LeadTime}}
                                                        </small>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <small class="m0 text-muted">
                                                            <em class="mr-sm ion-arrow-right-b"></em>SIZE: {{inven.Size}}
                                                        </small>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div ng-repeat="com in inven.Components">
                                                            <input class="col-xs-2" type="checkbox" checked="checked" />
                                                            <label class="col-xs-3">{{com.Name}}</label>
                                                            <label class="col-xs-4">{{com.Location}}</label>
                                                            <input class="col-xs-3" type="number" placeholder="Quantity" value="{{com.Unit/com.MoQ | rounded}}" />
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="selected.inventory == 'inventory'">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4" ng-repeat="inven in criticalComponents">
                                    <div class="card">
                                        <div class="card-body pv">
                                            <div class="clearfix">
                                                <div class="row">
                                                    <div class="pull-left"><h5 class="m0 text-thin">{{inven.Component.Name}}</h5></div>
                                                    <a class="btn btn-success pull-right" ng-click="orderInventory(inven)">Order</a>
                                                    <a class="btn btn-primary pull-right" ng-click="inven.detail=!inven.detail">Show detail</a>
                                                </div>
                                                <div class="row" style="padding-top:10px;" ng-show="inven.detail">
                                                    <div class="col-xs-4">
                                                        <small class="m0 text-muted">
                                                            <em class="mr-sm ion-arrow-right-b"></em>EACH Cost: {{inven.Component.Cost}}
                                                        </small>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <small class="m0 text-muted">
                                                            <em class="mr-sm ion-arrow-right-b"></em>DELIVERY TIME: {{inven.Component.DeliveryTime}}
                                                        </small>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <small class="m0 text-muted">
                                                            <em class="mr-sm ion-arrow-right-b"></em>MOQ: {{inven.Component.MOQ}}
                                                        </small>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div ng-repeat="loc in inven.Required">
                                                            <input class="col-xs-2" type="checkbox" checked="checked" />
                                                            <label class="col-xs-7">{{loc.State}}, {{loc.Country}}</label>
                                                            <input class="col-xs-3" type="number" placeholder="Quantity" value="{{loc.Units/inven.Component.MOQ | rounded}}" />
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div id="setting" ng-if="inventorySelectedTab == 'setting'">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 pull-right">
                                <select class="form-control" name="selectedSetting" ng-model="selected.setting">
                                    <option value="product" selected>Product</option>
                                    <option value="inventory">Inventory</option>
                                </select>
                            </div>
                            <div class="col-sm-4 col-xs-12 pull-left" style="padding-bottom:5px;">
                                <button type="button" class="btn btn-labeled btn-success ripple text-right" ng-click="addProduct();">
                                    New Product<span class="btn btn-label btn-label-right">
                                        <i class="ion-plus-round"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <bootstrap-table class="table table-responsive" data="inventorySettingTableData.data" search="true" headings="inventorySettingTableData.headings" style="width:100%;height:100%">
                            </bootstrap-table>
                        </div>
                    </div>

                    <div id="orderstatus" ng-if="inventorySelectedTab == 'orderStatus'">
                        <div class="row">
                            <div class="col-xs-12">
                                <bootstrap-table class="table table-responsive" table-type="'inventoryOrderStatus'" data="inventoryOrderStatus.data" search="true" headings="inventoryOrderStatus.headings" style="width:100%;height:100%">
                                </bootstrap-table>
                            </div>
                        </div>
                    </div>
                    <div id="reviseinventory" ng-if="inventorySelectedTab == 'reviseInventory'">
                        <div class="row">
                            <div class="col-xs-12">
                                <bootstrap-table class="table table-responsive" table-type="'inventoryOrderStatus'" data="revisedInventory.data" search="true" headings="revisedInventory.headings" style="width:100%;height:100%">
                                </bootstrap-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
